<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="site-product">
		<form:form cssClass="row g-3 needs-validation" action="/admin/flashSale" modelAttribute="flashSale"
			method="POST" id="formFlashSale">
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<div class="row">
						<div class="col-12 mb-3">
							<form:label path="id" cssClass="form-label">Id:</form:label>
							<form:input type="text" cssClass="form-control" path="id" readonly="true"></form:input>
						</div>
						<div class="col-12 mb-3">
							<form:label path="startDay" cssClass="form-label">Ngày bắt đầu:</form:label>
							<form:input type="datetime-local" cssClass="form-control" path="startDay"></form:input>
							<p class="text-danger" th:text="${start_dayError}"></p>
						</div>

						<div class="col-12 mb-3">
							<form:label path="endDay" cssClass="form-label">Ngày kết thúc:</form:label>
							<form:input type="datetime-local" cssClass="form-control" path="endDay"></form:input>
							<p class="text-danger" th:text="${end_dayError}"></p>
						</div>
						<div class="col-12 mb-3">
							<form:label path="status" cssClass="form-label">Thông tin:</form:label>
							<form:radiobutton path="status" value="false" label="Đang hoạt động"
								style="margin-left:10px" />
							<form:radiobutton path="status" value="true" label="Ngưng hoạt động"
								style="margin-left:10px" />
							<form:errors path="status" cssClass="text-danger"></form:errors>
						</div>
					</div>
					<div class="col-12">
						<button class="btn btn-success" formaction="/admin/flashSale/create"
							th:text="${typeButton}"></button>
						<button formaction="/admin/flashSale/update" class="btn btn-warning"
							th:text="${updateButton}"></button>
						<button formaction="/admin/flashSale/delete/{flashSale.id}" class="btn btn-danger"
							th:text="${deleteButton}"></button>
						<a href="/admin/flashSale" class="btn btn-primary">Reset</a>
					</div>
				</div>
			</div>
		</form:form>
		<hr>
		<br>
		<div class="table-responsive">
			<table id="statisticalTable" class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày kết thúc</th>
						<th>Trạng thái</th>
						<th>Số lượng sản phẩm</th>
						<th></th>
						<!-- <th>Thông tin</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="flashSale : ${flashSales}">
						<td th:text="${flashSale.id}"></td>
						<td>
							<fmt:formatDate value="${flashSale.startDay}" pattern="HH:mm dd/MM/yyyy" />
						</td>
						<td>
							<fmt:formatDate value="${flashSale.endDay}" pattern="HH:mm dd/MM/yyyy" />
						</td>
						<td>
							<span th:if="${flashSale.status == false}">Đang hoạt động</span>
							<span th:if="${flashSale.status == true}">Ngưng hoạt động</span>
						</td>
						<td th:text="${flashSale.promotionalDetailsList.size()}">
							<a th:href="@{/admin/promotionalDetail/{flashSale.id}(id=${flashSale.id})}">
								Xem chi tiết
							</a>
						</td>
						<td><a th:href="@{/admin/flashSale/edit/{flashSale.id}(id=${flashSale.id})}">Edit</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>