<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="table-responsive">
		<table id="statisticalTable" class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Họ tên</th>
					<th>Email</th>
					<th>Số hóa đơn</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderByUser : ${ordersByUser}">
					<td th:text="${orderByUser[0]}"></td>
					<td th:text="${orderByUser[1]}"></td>
					<td th:text="${orderByUser[2]}"></td>
					<td th:text="${orderByUser[3]}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>