<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<div class="site-product">

		<form th:action="@{/OrderDetail/create}" th:object="${ProductDetail}" th:method="POST"
			class="row g-3 needs-validation" id="OrderDetail">

			<div class="row">
				<div class="col-xs-12 ">
					<div class="row">
						<div class="col-12 mb-3">
							<input type="hidden" th:name="idProduct" id="idProduct" th:value="${idProduct}"
								class="form-control" />
						</div>
						<div class="col-12 mb-3">
							<input type="hidden" th:name="id" id="id" th:value="*{id}" class="form-control"
								th:field="*{id}" />
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Size :</label>
							<input type="text" class="form-control" th:field="*{size}" th:value="*{size}" />
						</div>

						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Màu Sắc :</label>
							<input type="text" class="form-control" th:field="*{color}" th:value="*{color}" />
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Khối Lượng :</label>
							<input type="number" min="0" step="0.1" class="form-control" th:field="*{weight}"
								th:value="*{weight}" />
						</div>
						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Số lượng :</label>
							<input type="number" min="0" class="form-control" th:field="*{quantityInStock}"
								th:value="*{quantityInStock}" />
						</div>
					</div>
					<div class="row">
						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Công Suất :</label>
							<input type="number" min="0" step="1" class="form-control" th:field="*{power}"
								th:value="*{power}" />
						</div>
						<div class="col-6 mb-3">
							<label th:for="discountedPrice" class="form-label">Đơn Giá :</label>
							<input type="number" min="0" class="form-control" th:field="*{productPrice}"
							th:value="*{productPrice[0].price}"
							/>
						</div>
					</div>

					<div class="col-12 col-md-7">
						<button class="btn btn-success" th:formaction="@{/admin/ProductDetail/create}"
							th:text="${typeButton}"></button>
						<button class="btn btn-warning"
							th:formaction="@{/admin/OrderDetail/{idProduct}/update(idProduct=${idProduct})}"
							th:text="${updateButton}"></button>
						<button class="btn btn-danger"
							th:formaction="@{/admin/OrderDetail/{idProduct}/delete(idProduct=${idProduct})}"
							th:text="${deleteButton}"></button>
						<button class="btn btn-primary"
							th:formaction="@{/admin/OrderDetail/{idProduct}/history(idOrder=${idProduct})}" text="History"
							value="History">Lịch Sử</button>
						<!--<a th:formaction="@{/admin/OrderDetail/{idOrder}(idOrder=${idOrder})}"
							class="btn btn-primary">Reset</a>-->

					</div>
				</div>
			</div>
	</div>

	</form>

	<hr>
	<br>

	<div class="table-responsive">
		<table id="statisticalTablePromotion" class="table table-hover" style="vertical-align:middle;">
			<thead>
				<tr>
					<th>Số thứ tự</th>
					<th>Tên sản phẩm</th>
					<th>Màu Sắc</th>
					<th>Công Suất</th>
					<th>Size</th>
					<th>Khối Lượng</th>
					<th>Số Lượng</th>
					<th>Đơn Giá</th>
					<th>Ngày Thêm</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" pdDetail ,i : ${ProductDetails}">
					<td th:text="${i.index + 1}"></td>
					<td th:text="${pdDetail.product.productName}"></td>
					<!--<td th:text="${promotionalDetail.product.productDetail.quantityInStock}"></td>-->
					<td th:text="${pdDetail.color}"></td>
					<td th:text="${pdDetail.power} + 'W'"></td>
					<td th:text="${pdDetail.size}"></td>
					<td th:text="${pdDetail.weight} + ' KG'"></td>
					<td th:text="${pdDetail.quantityInStock}"></td>
					<td th:each="price : ${pdDetail.productPrice} ">
						<span th:text="*{#numbers.formatDecimal(price.price ,0,'COMMA',0,'POINT')}+' đ'"></span>
					</td>
					<td th:text="${#dates.format(pdDetail.productionDate, 'hh:ss  dd/MM/yyyy')}">
					</td>
					<td>
						<a class="btn btn-warning"
							th:href="@{/admin/ProductDetail/{idProduct}/edit/{productDetailid}(idProduct=${idProduct}, productDetailid=${pdDetail.id})}">Chỉnh
							sửa</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function () {
			var table = $('#statisticalTablePromotion').DataTable();

			// Tạo radio buttons
			var radioHtml = `
            <div class="mb-3">
                <label>
                    <input type="radio" name="statusFilter" value="" checked> Tất cả
                </label>
                <label class="mx-2">
                    <input type="radio" name="statusFilter" value="Đang hoạt động"> Đang hoạt động
                </label>
                <label>
                    <input type="radio" name="statusFilter" value="Ngưng hoạt động"> Ngưng hoạt động
                </label>
            </div>
        `;

			// Thêm radio buttons vào phần tử có class "table-responsive"
			$('.table-responsive').prepend(radioHtml);

			// Xử lý sự kiện khi radio buttons được chọn
			$('input[name="statusFilter"]').on('change', function () {
				var selectedValue = $(this).val();

				// Lọc dữ liệu trong cột "Trạng thái" của DataTable
				table.column(5).search(selectedValue).draw();
			});
		});
	</script>
</body>

</html>