<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="table-responsive">
		<table id="statisticalTable" class="table table-hover">
			<thead>
				<tr>
					<th>Mã sản phẩm</th>
					<th>Tên sản phẩm</th>
					<th>Loại sản phẩm</th>
					<th>Thương hiệu</th>
					<th>Số lượng còn lại</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pwq : ${productWithQuantity}" th:if="${pwq[4]<10}">
					<td th:text="${pwq[0]}"></td>
					<td th:text="${pwq[1]}"></td>
					<td th:text="${pwq[2]}"></td>
					<td th:text="${pwq[3]}"></td>
					<td th:text="${pwq[4]}">
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>