<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="d-flex align-items-strech">
		<div class="card w-100">
			<div class="card-body">
				<div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
					<div class="mb-3 mb-sm-0">
						<h5 class="card-title fw-semibold">Tổng đơn hàng trong 365 ngày</h5>
					</div>
				</div>
				<div id="chart-order"></div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table id="" class="table table-hover text-center" style="vertical-align: middle !important;">
			<thead>
				<tr>
					<th>Thời gian</th>
					<th>Đơn đang xử lý</th>
					<th>Đơn đang giao</th>
					<th>Đơn giao thành công</th>
					<th>Đơn đã hủy</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hôm nay</td>
					<td th:text="${dayProccessing}"></td>
					<td th:text="${dayShipping}"></td>
					<td th:text="${daySuccess}"></td>
					<td th:text="${dayCancel}"></td>
				</tr>
				<tr>
					<td>7 ngày</td>
					<td th:text="${weekProccessing}"></td>
					<td th:text="${weekShipping}"></td>
					<td th:text="${weekSuccess}"></td>
					<td th:text="${weekCancel}"></td>
				</tr>
				<tr>
					<td> 30 ngày</td>
					<td th:text="${monthProccessing}"></td>
					<td th:text="${monthShipping}"></td>
					<td th:text="${monthSuccess}"></td>
					<td th:text="${monthCancel}"></td>
				</tr>
				<tr>
					<td>365 ngày</td>
					<td th:text="${yearProccessing}"></td>
					<td th:text="${yearShipping}"></td>
					<td th:text="${yearSuccess}"></td>
					<td th:text="${yearCancel}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>