<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="table-responsive">
		<table id="statisticalOrderTable" class="table table-hover">
			<thead>
				<tr>

					<th>Họ tên</th>
					<th>Ngày mua</th>
					<th>Ngày giao hàng dự kiến</th>
					<th>Phí vận chuyển</th>
					<th>Mã giảm giá</th>
					<th>Tổng tiền</th>
					<th>Hình thức thanh toán</th>
					<th>Trạng thái</th>
					<th>Ghi chú</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${invoice}">

					<td th:text="${item.user.fullname}"></td>
					<td th:text="${#dates.format(item.orderDate, 'hh:mm dd/MM/yyyy')}"></td>
					<td th:text="${#dates.format(item.expected_delivery_time, 'hh:mm dd/MM/yyyy')}"></td>
					<td th:text="${#numbers.formatDecimal(item.deliveryFee,0,'COMMA',0,'POINT')}+' đ'"></td>
					<td th:text="${item.discount}"></td>
					<td>
						<span th:text="${#numbers.formatDecimal(item.totalAmount,0,'COMMA',0,'POINT')}+' đ'"></span>
					</td>
					<td th:text="${item.paymentMethod.paymentName}"></td>
					<td th:each=" orderdeliveryDeail : ${item.orderStatus}">

						<select class="form-select statusSelect"
							th:disabled="${orderdeliveryDeail.deliveryStatus.id == 3}"
							aria-label="Default select example" style="padding: 1px 38px 1px 16px;"
							th:data-item-id="${item.id}">
							<option th:each="p : ${statusList}" th:text="${p.nameStatus}"
								th:selected="${orderdeliveryDeail.deliveryStatus.id}==${p.id}"
								th:if="${orderdeliveryDeail.deliveryStatus.id+3}==${p.id} "></option>
							<option th:each="p : ${statusList}" th:text="${p.nameStatus}"
								th:selected="${orderdeliveryDeail.deliveryStatus.id}==${p.id}"
								th:if="${orderdeliveryDeail.deliveryStatus.id}==${p.id}"></option>
							<option th:each="p : ${statusList}" th:text="${p.nameStatus}"
								th:selected="${orderdeliveryDeail.deliveryStatus.id}==${p.id}"
								th:if="${orderdeliveryDeail.deliveryStatus.id+1}==${p.id}"></option>
						</select>
					</td>
					<td th:text="${item.note}"></td>
					<td> <a type="button" class="btn btn-primary" th:href="@{/admin/OrderDetail/{Id}(Id=${item.id})}">
							Xem Chi Tiết
						</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(document).ready(function () {
			$(".statusSelect").change(function () {
				var selectedValue = $(this).val();
				var itemId = $(this).data("item-id");

				console.log(itemId);
				console.log(selectedValue)				// Gửi yêu cầu Ajax
				$.ajax({
					url: "http://localhost:8080/admin/update-status", // Thay đổi đường dẫn tới endpoint cập nhật trạng thái
					type: "POST",
					data: {
						itemId: itemId,
						status: selectedValue
					},
					success: function (response) {
						// Xử lý phản hồi từ máy chủ (nếu cần)
						console.log(response);
						if (response) {
							Swal.fire({
								icon: 'success',
								title: 'Dữ liệu đang được cập nhật vào hệ thông!',
								html: 'sẽ làm mới trang trong <b></b> mili giây.',
								timer: 1500,
								allowOutsideClick: false,
								timerProgressBar: true,
								didOpen: () => {
									Swal.showLoading()
									const b = Swal.getHtmlContainer().querySelector('b')
									timerInterval = setInterval(() => {
										b.textContent = Swal.getTimerLeft()
									}, 100)
								},
								willClose: () => {
									clearInterval(timerInterval)
								}
							}).then((result) => {
								/* Read more about handling dismissals below */
								if (result.dismiss === Swal.DismissReason.timer) {
									console.log('I was closed by the timer')
									location.reload();
								}
							})

						} else {
							Swal.fire({
								icon: 'warning',
								title: 'Có lỗi xảy ra',
								text: "Vui lòng tải lại trang và thử lại !",
								showConfirmButton: true
							});
						}
					},
					error: function (xhr) {
						// Xử lý lỗi (nếu cần)
					}
				});
			});
			
				var table = $('#statisticalOrderTable').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'print', 'csv', 'excel', 'pdf', // Thêm nút in
				]});

			// Tạo radio buttons
	
		});
	</script>

</body>

</html>