<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="form-main">
                        <div class="title">

                            <h3>About us page</h3>
                        </div>
                        <form class="form" method="post" action="mail/mail.php">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <img src="../../images/about/nha.jpg" alt=" ">
                                        <p>ArtGroupES shop là thương hiệu hàng đầu chuyên cung cấp đồ gia
                                            dụng chất lượng cao thiết bị trên thị trường hiện nay. Sản
                                            phẩm của chúng tôi được biết đến với công nghệ tiên tiến,
                                            thiết kế đa dạng và khả năng đáp ứng nhu cầu của hầu hết
                                            người dùng. Giá các sản phẩm của chúng tôi luôn cạnh tranh,
                                            mang lại giá trị tốt nhất cho đồng tiền.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <img src="../../images/about/oto.png" alt=" ">
                                        <p>Hàng hóa vô cùng đa dạng, từ lớn các loại như TV, Tủ
                                            lạnh, Máy giặt, Điều hòa Điều hòa, đến các thiết bị gia dụng
                                            như Cơm Điện Bếp nấu ăn, Bếp gas, Bếp điện từ và kinh doanh
                                            các mặt hàng Các mặt hàng như Điện thoại, Máy tính bảng,
                                            Laptop, Phụ kiện,...</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <img src="../../images/about/camket.jpg" alt=" ">
                                        <p>ArtGroupES cam kết cung cấp sản phẩm chất lượng cao với
                                            công nghệ tiên tiến nhất, nhằm tối ưu hóa hiệu quả và tiết
                                            kiệm chi phí. Sản phẩm của chúng tôi được sản xuất với sự
                                            tập trung vào đổi mới và nghiên cứu, để đáp ứng nhu cầu ngày
                                            càng cao của khách hàng trong cuộc sống hiện đại</p>
                                    </div>
                                </div>
                                <img src="../../images/about/thuonghieu.png" alt=" ">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>