<!-- Shopping Cart -->
<div class="shopping-cart section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Shopping Summery -->
				<table class="table shopping-summery">
					<thead>
						<tr class="main-hading">
							<th>
								<input type="checkbox" ng-model="checkAll" value="" ng-change="toggleAllCheckboxes()">
							</th>
							<th class="text-center">ẢNH</th>
							<th class="text-center">SẢN PHẨM</th>
							<th class="text-center">GIÁ</th>
							<th class="text-center">SỐ LƯỢNG</th>
							<th class="text-center">SỐ TIỀN</th>
							<th class="text-center">THAO TÁC</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in userLogin.carts">
							<td class="text-center">
								<input type="checkbox" name="check" id="" ng-model="c.checked"
									ng-change="updateCheckAll()">
							</td>
							<td class="image text-center" data-title="No" width="100px">
								<img ng-src="../images/products/{{c.productDTO.images[0]}}"
									alt="{{c.productDTO.productName}}">
							</td>
							<td class="product-des" data-title="Description" width="300px">
								<a href="/product/{{c.productDTO.productId}}">{{c.productDTO.productName}}</a>
								<p class="product-des" ng-repeat="pdt in c.productDTO.productDetails">
									<span ng-if="pdt.id == c.productDetailId" style="font-size: 14px;">
										{{pdt.size}} - {{pdt.color}}
									</span>
								</p>
							</td>
							<td class="price" data-title="Price" ng-repeat="pdt in c.productDTO.productDetails"
								ng-class="{'d-none': pdt.id != c.productDetailId}">
								<span class="amount" ng-if="c.productDTO.sale && pdt.id == c.productDetailId">
									{{ getLatestPrice(pdt.prices).price -
									(getLatestPrice(pdt.prices).price *
									c.productDTO.discountPrice)
									| number:0 }}
									&#8363;
								</span>
								<span class="amount" ng-if="!c.productDTO.sale && pdt.id == c.productDetailId">
									{{getLatestPrice(pdt.prices).price|number:0}}
									&#8363;
								</span>
							</td>
							<td class="qty" data-title="Qty" width="140px"
								ng-repeat="pdt in c.productDTO.productDetails"
								ng-class="{'d-none': pdt.id != c.productDetailId}"
								ng-show="pdt.id == c.productDetailId">
								<!-- Input Order -->
								<div class="input-group">
									<div class="button minus">
										<button type="button" class="btn btn-primary btn-number" data-type="minus"
											data-field="quant[1]" ng-click="decreaseQuantity(c, pdt.quantityInStock)">
											<i class="ti-minus"> </i>
										</button>
									</div>
									<input type="text" name="quant[1]" class="input-number" data-min="1"
										data-max="{{pdt.quantityInStock}}" ng-model="c.quantityInCart"
										ng-change="updateTotalAmount(c, pdt.quantityInStock)"
										ng-blur="handleInputBlur(c)" autocomplete="none">
									<div class="button plus">
										<button type="button" class="btn btn-primary btn-number" data-type="plus"
											data-field="quant[1]" ng-click="increaseQuantity(c, pdt.quantityInStock)">
											<i class="ti-plus"></i>
										</button>
									</div>
								</div>
								<!--/ End Input Order -->
							</td>
							<td class="total-amount" data-title="Total" ng-repeat="pdt in c.productDTO.productDetails"
								ng-class="{'d-none': pdt.id != c.productDetailId}">
								<span class="amount" ng-if="c.productDTO.sale && pdt.id == c.productDetailId">
									{{ (getLatestPrice(pdt.prices).price -
									(getLatestPrice(pdt.prices).price *
									c.productDTO.discountPrice))*c.quantityInCart
									| number:0 }}
									&#8363;
								</span>
								<span class="amount" ng-if="!c.productDTO.sale && pdt.id == c.productDetailId">
									{{getLatestPrice(pdt.prices).price*c.quantityInCart|number:0}}
									&#8363;
								</span>
							</td>
							<td class="action" data-title="Remove" width="100px">
								<a href="#" ng-click="removeToCart($event,c.cartId, $index)"><i
										class="ti-trash remove-icon"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--/ End Shopping Summery -->
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Total Amount -->
				<div class="total-amount">
					<div class="row">
						<div class="col-lg-8 col-md-5 col-12">
							<div class="left">
								<div class="coupon">
									<form action="#" target="_blank">
										<input name="Coupon" placeholder="Enter Your Coupon">
										<button class="btn">Apply</button>
									</form>
								</div>
								<div class="checkbox">
									<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">
										Shipping (+10$)</label>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-7 col-12">
							<div class="right">
								<ul ng-show="getCheckedProducts.length>0">
									<li>Tổng thanh toán
										<span>{{ getTotalPrice()|number:0}}</span>
									</li>
									<li>Tiết kiệm<span></span></li>
									<li class="last">Tổng phải trả
										<span>{{ getTotalPrice()|number:0}}</span>
									</li>
								</ul>
								<div class="button5">
									<div class="alert alert-danger" role="alert" ng-show="getCheckedProducts.length==0">
										Bạn chưa chọn sản phẩm
									</div>
									<a href="/checkout" class="btn"
										ng-show="getCheckedProducts.length>0 &&userLogin.carts.length>0">Thanh toán</a>
									<a href="/ArtDevs" class="btn">Tiếp tục mua sắm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/ End Total Amount -->
			</div>
		</div>
	</div>
</div>
<!--/ End Shopping Cart -->

<!-- Start Shop Services Area  -->
<section class="shop-services section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-rocket"></i>
					<h4>Free shiping</h4>
					<p>Orders over $100</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-reload"></i>
					<h4>Free Return</h4>
					<p>Within 30 days returns</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-lock"></i>
					<h4>Sucure Payment</h4>
					<p>100% secure payment</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-tag"></i>
					<h4>Best Peice</h4>
					<p>Guaranteed price</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- End Shop Newsletter -->