<div class="map-section mt-5">
	<div class="container">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8128.681313566823!2d105.76670264796438!3d9.986688345048032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1695988326214!5m2!1svi!2s"
			width="1600" height="450" style="border: 0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>

<section id="contact-us" class="contact-us section pb-5">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class=" col-12">
					<div class="single-head d-flex justify-content-between">
						<div class="single-info">
							<i class="fa fa-phone"></i>
							<h4 class="title">Gọi ngay cho chúng tôi:</h4>
							<ul>
								<li><a class="text-primary fw-bold" href="tel:0948922927">0948-922-927</a></li>
								<li><a class="text-primary fw-bold" href="tel:0909123456">0909-123-456</a></li>
							</ul>
						</div>
						<div class="single-info">
							<i class="fa fa-envelope-open"></i>
							<h4 class="title">Email:</h4>
							<ul>
								<li><a href="mailto:nguyentcpc04750@fpt.edu.vn">nguyentcpc04750@fpt.edu.vn</a></li>
								<li><a href="mailto:linhptpc04737@fpt.edu.vn">linhptpc04737@fpt.edu.vn</a></li>
							</ul>
						</div>
						<div class="single-info">
							<i class="fa fa-location-arrow"></i>
							<h4 class="title">Địa chỉ:</h4>
							<ul>
								<li>Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>