<section class="section">
	<div class="container">
		<div class="wrap_background_aside page_login">
			<div class="row">
				<div
					class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-0 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 col-12">
					<div class="row px-3 py-5" style="box-shadow:  0px 1px 10px 10px   #f0eaea">
						<div class="page-login pagecustome clearfix w-100">
							<div class="wpx">
								<h1 class="title_heads text-center"><span>Quên mật khẩu?</span></h1>
								<span class="block d-flex justify-content-center dkm mt-2">Quay lại trang <a
										href="/account/login" class="btn-link-style btn-register"> &nbsp;đăng nhập tại
										đây</a></span>
								<div id="login" class="form-login mt-3">
									<form method="post" ng-submit="submitForgetPassword()" id="customer_login"
										accept-charset="UTF-8">
										<div class="form-signup clearfix">
											<fieldset class="form-group">
												<input type="email" class="form-control form-control-lg" value=""
													ng-model="formData.email" name="email" id="customer_email"
													placeholder="Email" required="" autocomplete="none">

											</fieldset>
											<div class="message-error text-danger mt-3 text-center"
												ng-show="formErrors.email">
												Email không hợp lệ !
											</div>
											<div class="message-error text-danger mt-3 text-center"
												ng-show="formErrors.isExistAccount">
												Tài khoản không tồn tại!
											</div>

											<div class="d-flex flex-column mt-3">
												<input class="btn btn-style btn_50 text-white" type="submit"
													value="Lấy lại mật khẩu"
													style="background-color:#2a2929; margin-bottom: 1rem;">
											</div>
										</div>
									</form>
								</div>
								<div
									class="block social-login--facebooks d-flex flex-column justify-content-center mt-3">
									<p class="text-center mb-3">
										Hoặc đăng nhập bằng
									</p>
									<a href="javascript:void(0)" class="social-login--google mx-auto"
										onclick="loginGoogle()"><img width="129px" height="37px"
											alt="google-login-button"
											src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>