<section class="section">
	<div class="container">
		<div class="wrap_background_aside page_login">
			<div class="row">
				<div
					class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-0 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 col-12">
					<div class="row px-3 py-5" style="box-shadow:  0px 1px 10px 10px   #f0eaea">
						<div class="page-login pagecustome clearfix w-100">
							<div class="wpx">
								<h1 class="title_heads text-center"><span>Đăng nhập</span></h1>
								<span class="block d-flex justify-content-center dkm mt-2">Nếu bạn chưa có tài khoản, <a
										href="/account/register" class="btn-link-style btn-register"> &nbsp;đăng ký tại
										đây</a></span>
								<div id="login" class="form-login mt-3">
									<form method="post" action="/rest/account/user" id="customer_login"
										accept-charset="UTF-8">
										<div class="form-signup clearfix">
											<fieldset class="form-group">
												<input type="email" class="form-control form-control-lg" value=""
													name="email" id="customer_email" placeholder="Email" required=""
													autocomplete="none">
											</fieldset>
											<fieldset class="form-group">
												<input type="password" class="form-control form-control-lg" value=""
													name="password" id="customer_password" placeholder="Mật khẩu"
													required="">
											</fieldset>
											<fieldset class="form-group pl-4">
												<input id="remember" name="remember" type="checkbox"
													class="form-check-input" value="" />
												<label id="_label" class="form-check-label" for="remember">Ghi nhớ đăng
													nhập</label>
											</fieldset>
											<div class="message-error text-danger mt-3 text-center">
												{{messError}}
											</div>
											<div class="d-flex flex-column mt-3">
												<input class="btn btn-style btn_50 text-white" type="submit"
													value="Đăng nhập"
													style="background-color:#2a2929; margin-bottom: 1rem;">
												<span class="block text-center"><a href="/account/forgot-password"
														class="btn-forgotpass">Quên mật khẩu</a></span>
											</div>
										</div>

									</form>
								</div>
								<div
									class="block social-login--facebooks d-flex flex-column justify-content-center mt-3">
									<p class="text-center mb-3">Hoặc đăng nhập bằng</p>
									<a href="#" class="social-login--google mx-auto" ng-click="loginWithGoogle()">
										<img width="129px" height="37px" alt="google-login-button"
											src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg">
									</a>


								</div>

							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>