<!-- Slider Area -->
<custom-banner></custom-banner>
<!--/ End Slider Area -->

<div class="container">
    <custom-flashsale></custom-flashsale>
</div>

<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>SẢN PHẨM THEO DANH MỤC</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item" ng-repeat="c in categories">
                                <a class="nav-link nav-link-select" href="{{c.categoryId}}"
                                    stop-propagation>{{c.categoryName}}</a>
                            </li>
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>

                    <div class="tab-content-main position-relative" id="tab">
                        <!-- <div class="dots-container position-absolute h-100">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div> -->
                        <div class="tab-pane">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12"
                                        ng-repeat="pd in listProductsbyCategory">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="/product/{{pd.productId}}">
                                                    <img class="default-img" src="../images/products/{{pd.images[0]}}"
                                                        alt="anh 1">
                                                    <img class="hover-img" src="../images/products/{{pd.images[1]}}"
                                                        alt="anh 2">
                                                    <span class="out-of-stock" ng-if="false">
                                                        Giảm
                                                    </span>
                                                </a>

                                                <div class="button-head">
                                                    <div class="product-action">
                                                        <a data-toggle="modal" data-target="#exampleModal"
                                                            title="Quick View" class="quickViews" href="#"
                                                            data-product-id="{{pd.productId}}" quick-view-modal><i
                                                                class=" ti-eye"></i><span>Xem
                                                                nhanh</span></a>
                                                        <a title="Wishlist" href="#">
                                                            <i class=" ti-heart "></i><span>Thêm vào yêu thích</span>
                                                        </a>
                                                    </div>
                                                    <div class="product-action-2">
                                                        <a title="Add to cart" href="#">Thêm vào giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="/product/{{pd.productId}}">{{pd.productName}}</a></h3>
                                                <div class="product-price" ng-if="pd.productDetails.length > 0">
                                                    <span class="font-weight-bold"
                                                        ng-init="latestPrice = getLatestPrice(pd.productDetails[0].prices)">
                                                        {{ latestPrice.price | number:0 }}
                                                        &#8363;</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <a href="" class="btn text-white mt-3 btnViewAll">Xem tất cả</a>
        </div>
    </div>
</div>
<!-- End Product Area -->


<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>GỢI Ý HÔM NAY</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="tab-content-main position-relative" id="tab">
                        <div class="tab-pane">
                            <div class="tab-single">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12"
                                        ng-repeat="pd in listProductsToday track by $index" ng-if="$index < limit">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="/product/{{pd.productId}}">
                                                    <img class="default-img" src="../images/products/{{pd.images[0]}}"
                                                        alt="anh 1">
                                                    <img class="hover-img" src="../images/products/{{pd.images[1]}}"
                                                        alt="anh 2">
                                                    <span class="out-of-stock" ng-if="false">
                                                        Giảm
                                                    </span>
                                                </a>

                                                <div class="button-head">
                                                    <div class="product-action">
                                                        <a data-toggle="modal" data-target="#exampleModal"
                                                            title="Quick View" class="quickViews" href="#"
                                                            data-product-id="{{pd.productId}}" quick-view-modal><i
                                                                class=" ti-eye"></i><span>Xem
                                                                nhanh</span></a>
                                                        <a title="Wishlist" href="#">
                                                            <i class=" ti-heart "></i><span>Thêm vào yêu thích</span>
                                                        </a>
                                                    </div>
                                                    <div class="product-action-2">
                                                        <a title="Add to cart" href="#">Thêm vào giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="/product/{{pd.productId}}">{{pd.productName}}</a></h3>
                                                <div class="product-price" ng-if="pd.productDetails.length > 0">
                                                    <span class="font-weight-bold"
                                                        ng-init="latestPrice = getLatestPrice(pd.productDetails[0].prices)">
                                                        {{ latestPrice.price | number:0 }}
                                                        &#8363;</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" ng-show="limit < listProductsToday.length"
            ng-click="showMore()">
            <a href="" class="btn text-white mt-3 btnSeeMore">Xem thêm</a>
        </div>
    </div>
</div>
<!-- End Product Area -->
<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Free shiping</h4>
                    <p>Orders over $100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Free Return</h4>
                    <p>Within 30 days returns</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Sucure Payment</h4>
                    <p>100% secure payment</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Best Peice</h4>
                    <p>Guaranteed price</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" modal-hidden>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
                        aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <div class="quickview-slider-active" owl-carousel>
                                <div class="single-slider" ng-repeat="img in qvpd.images" on-finish-render>
                                    <img src="../images/products/{{img}}" alt="{{img}}">
                                </div>
                            </div>
                        </div>

                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-content">
                            <h2>{{qvpd.productName}}</h2>
                            <div class="quickview-ratting-review">
                                <div class="quickview-ratting-wrap">
                                    <!-- <div class="quickview-ratting">
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div> -->
                                    <!-- <a href="#"> (1 customer review)</a> -->
                                </div>
                                <div class="quickview-stock">
                                    <span ng-if="pdt.quantityInStock > 0">
                                        <i class="fa fa-check-circle-o"></i> Số lượng trong kho:
                                        {{pdt.quantityInStock}}
                                    </span>
                                    <span ng-if="pdt.quantityInStock == 0" class="text-danger">
                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Hết hàng
                                    </span>
                                </div>
                            </div>
                            <h3 class="font-weight-bold">
                                {{ getLatestPrice(pdt.prices).price | number:0 }}
                                &#8363;</h3>
                            <div class="quickview-peragraph">
                                <p><strong>{{qvpd.descriptions[0].title}}:</strong></p>
                                <p>{{qvpd.descriptions[0].description}}</p>
                            </div>
                            <div class="size">
                                <div class="d-flex">
                                    <div ng-repeat="p in qvpd.productDetails">
                                        <a href="#" class="btn-type p-2 border rounded border-secondary mr-3"
                                            ng-click="choiceProduct(p.id, $event)">{{p.size}}
                                            - {{p.color}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="quantity" quantity-control>
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="minus"
                                            data-field="quant[1]" ng-class="{disabled:pdt.quantityInStock == 0}">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1"
                                        ng-disabled="{disabled:pdt.quantityInStock == 0}"
                                        data-max="{{pdt.quantityInStock}}" value="1" ng-model="quantity" numbers-only>
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]" ng-class="{disabled:pdt.quantityInStock == 0}">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </div>
                            <div class="add-to-cart">
                                <a href="#" class="btn" ng-class="{disabled:pdt.quantityInStock == 0}">Thêm vào giỏ
                                    hàng</a>
                                <a href="#" class="btn min"><i class="ti-heart"></i></a>
                            </div>
                            <!-- <div class="default-social">
                                <h4 class="share-now">Share:</h4>
                                <ul>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->