<div class="section container pt-5 px-4">
	<div class="row">
		<div class="container">
			<div class="row ">
				<div class="col-12 d-flex p-0">
					<span class="font-weight-bold display-6">{{product.productName }}</span>
					<div class="d-flex ml-3 align-items-center">
						<div class="sosao" style="color: #ee4d2d; border-bottom-color: #ee4d2d; margin-right: 5px;">
							{{product.star|number:1}}
						</div>
						<div class="5sao">
							<div ng-if="star"></div>
							<div ng-if="star <= 0.5 && star >= 0">
								<i class="bi bi-star-half text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 1 && star > 0.5">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 1.5 && star > 1">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-half text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 2 && star > 1.5">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 2.5 && star > 2">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-half text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 3 && star > 2.5">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 3.5 && star > 3">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-half text-warning"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 4 && star > 3.5">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star"></i>
							</div>
							<div ng-if="star <= 4.5 && star > 4">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-half text-warning"></i>
							</div>
							<div ng-if="star <= 5 && star > 4.5">
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
								<i class="bi bi-star-fill text-warning"></i>
							</div>
						</div>
						<div class="d-flex text-primary">
							<div class="mr-1 ml-3">
								{{product.sumRate}}
							</div>
							<div class="tendanhgia">Đánh giá</div>
						</div>
						<div class="d-flex text-primary ">
							<div class="mr-1 ml-3">Đã bán: </div>
							<div>
								{{product.countSold}}
							</div>
						</div>
					</div>
				</div>
				<hr class="col-12" />

				<div class="col-12 p-0 row">
					<div class="col-lg-6 col-md-6 col-12">
						<div id=" carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="product-gallery">
								<div class="quickview-slider-active" owl-carousel>
									<div class="single-slider" ng-repeat="img in product.images" on-finish-render>
										<img ng-src="../images/products/{{img}}" alt="{{img}}">
									</div>
								</div>
							</div>
						</div>
						<ul class="list-group display-custom--sale">
							<li class="list-group-item">Lắp đặt miễn phí lúc giao hàng</li>
							<li class="list-group-item">Hư gì đổi nấy 12 tháng tận nhà (miễn phí tháng đầu)</li>
							<li class="list-group-item">Bảo hành chính hãng tivi 2 năm, có người đến tận nhà</li>
							<li class="list-group-item">Thùng tivi có: Chân đế, Remote thông minh</li>
							<li class="list-group-item">Bảo hành Remote 1 năm</li>
						</ul>
						<div class="mt-4">
							<div ng-repeat="description in product.descriptions">
								<h3 class="mb-2 mt-3">{{description.title }}</h3>
								<div class="display-custom--sale">
									<p class="text-justify">{{description.description }}</p>
								</div>
							</div>
						</div>
						<div class="mt-5">
							<h3 class="mb-2">ĐÁNH GIÁ SẢN PHẨM</h3>
							<div ng-if="product.productDetails[0].comments.length==0" class="display-custom--sale">Chưa
								có đánh giá nào</div>
							<div ng-repeat="comment in product.productDetails[0].comments">
								<div class="d-flex align-items-center">
									<img src="../../images/avatar/default-avatar.jpg" class="image-user--comment" />
									<span class="font-weight-bold ml-2">{{comment.fullnameOfUser}}</span>
								</div>
								<div>
									<div ng-if="comment.star <= 0.5 && comment.star >= 0">
										<i class="bi bi-star-half text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 1 && comment.star > 0.5">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 1.5 && comment.star > 1">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-half text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 2 && comment.star > 1.5">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 2.5 && comment.star > 2">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-half text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 3 && comment.star > 2.5">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 3.5 && comment.star > 3">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-half text-warning"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 4 && comment.star > 3.5">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star"></i>
									</div>
									<div ng-if="comment.star <= 4.5 && comment.star > 4">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-half text-warning"></i>
									</div>
									<div ng-if="comment.star <= 5 && comment.star > 4.5">
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
										<i class="bi bi-star-fill text-warning"></i>
									</div>
								</div>
								<div>{{comment.date|date: "hh:mm dd-MM-yyyy"}} &ensp; | &ensp;Phân loại hàng: Size
									{{product.productDetails[0].size}}, Color: {{product.productDetails[0].color}}</div>
								<div class="mt-2 display-custom--sale">{{comment.content}}</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12 px-4">
						<div class="d-flex">
							<button type=" button"
								class="btn btn-light bg-light mr-3 border border-radius--custom text-dark">Light</button>
							<button type="button"
								class="btn btn-light bg-light mr-3 border border-radius--custom text-dark">Light</button>
						</div>
						<div class="d-flex flex-column mt-4 bg-custom p-3">
							<div class="d-flex justify-content-between ">
								<div class="d-flex flex-column justify-content-around text-white">
									<h5>Online giá rẻ quá</h5>
									<h2 class="font-weight-bold text-warning">
										{{product.productDetails[0].prices[0].price*(1-product.discountPrice)|vnNumber}}
									</h2>
									<h6 ng-if="product.sale">
										<del>{{product.productDetails[0].prices[0].price|vnNumber}}</del>(-{{product.discountPrice*100}}%)
									</h6>
								</div>
								<div class="d-flex flex-column justify-content-around text-white align-items-end">
									<h5>Kết thúc vào</h5>
									<h5>{{flashSaleActive.data.endDay|date:"hh:mm dd/MM/yyyy"}}</h5>
									<h6>Còn 12/20 suất</h6>
								</div>
							</div>
							<div class="d-flex flex-column bg-white border-radius--sale mt-3 p-3">
								<div class="d-flex flex-column">
									<h6>
										Khuyến mãi
									</h6>
									<span>Giá và khuyến mãi có thể kết thúc sớm hơn dự kiến</span>
								</div>

								<ul class="custom-list text-justify">
									<li class="mt-3 display-custom--sale">
										<span class="no">1</span>
										<span>Tặng Gói ON PLUS Cơ Bản (12 tháng)/ ON PLUS Cao Cấp (3 tháng)/ Gói FPT
											SMax (3 tháng cho Nanocell,QNED,OLED và UHD từ 55 inch trở lên và 1 tháng
											cho
											FHD,UHD model từ 50 inch trở xuống)</span>
									</li>
									<li class="mt-3 display-custom--sale">
										<span class="no">2</span>
										<span>
											Tặng Gói TV360 VIP LG (3 tháng)/ Gói cao cấp ON: VIP (1 tháng), DA (1
											tháng), K+ Cine (1 tháng), ON Basic (12 tháng)/ Gói CLIP TV Tiêu Chuẩn (12
											tháng)
										</span>
									</li>
									<li class="mt-3 display-custom--sale">
										<span class="no">3</span>
										<span>
											Hoàn 200,000đ cho chủ thẻ tín dụng HOME CREDIT khi thanh toán đơn hàng từ
											5,000,000đ
										</span>
									</li>
									<li class="mt-3 display-custom--sale">
										<span class="no">4</span>
										<span>
											Nhập mã VNPAYTGDD giảm từ 50,000đ đến 200,000đ (Áp dụng tùy giá trị đơn
											hàng) khi thanh toán qua VNPAY-QR
										</span>
									</li>
								</ul>
								<hr class="w-100" />
								<ul class="ship-sale ml-3 display-custom--sale">
									<li>Giao hàng nhanh chóng (tuỳ khu vực)</li>
									<li>Giá và khuyến mãi có thể kết thúc sớm</li>
								</ul>
								<div class="d-flex mt-3">
									<button type=" button"
										class="btn bg-primary mr-3 border border-radius--sale text-white">Thêm vào giỏ
										hàng</button>
									<button type="button"
										class="btn bg-danger mr-3 border border-radius--sale text-white">Yêu
										thích</button>
								</div>
							</div>
						</div>

						<div class="mt-5">
							<h3 class="titlechitietsanpham">CHI TIẾT SẢN PHẨM</h3>
							<table class="table table_detail mt-3">
								<tbody>
									<tr>
										<td class="col-4">Loại Sản Phẩm:</td>
										<td class="col-8"> {{product.category.categoryName}}</td>
									</tr>
									<tr>
										<td class="col-4">Thương Hiệu:</td>
										<td class="col-8">{{product.manufacturer.manufacturerName}}</td>
									</tr>
									<tr>
										<td class="col-4">Kích thước:</td>
										<td class="col-8">{{product.productDetails[0].size}}</td>
									</tr>
									<tr>
										<td class="col-4">Trọng lượng:</td>
										<td class="col-8">{{product.productDetails[0].weight}}</td>
									</tr>
									<tr>
										<td class="col-4">Công suất:</td>
										<td class="col-8">{{product.productDetails[0].power}}</td>
									</tr>
									<tr>
										<td class="col-4">Ngày sản xuất:</td>
										<td class="col-8">{{product.productDetails[0].productionDate|date:"dd/MM/yyyy"}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<section class="small-banner section flash-sale-site mt-3 rounded">
					<div class="container-fluid">
						<div class="bg-light section-heading text-center d-flex align-items-center mb-3 p-3">
							<div class="title-flashsale mr-3 ">
								<h2 class="hTitle ">
									Sản phẩm khác
								</h2>
							</div>
						</div>
						
						<div class="section-flashsale listCarousel cardProduct-flashsale">
							<div ng-repeat="p in listProductByCategory" class="item">
								<div class="card h-100 mx-3 position-relative">
									<a href="/products/{{p.productId}}" style="height: 280px !important;"
										class="d-flex align-items-center">
										<img ng-src="images/products/{{p.images[0]}}" class="card-img-top"
											alt="{{p.images[0]}}">
									</a>
									<div class="card-body d-flex flex-column">
										<span class="text-muted">{{p.manufacturer.manufacturerName}}</span>
										<a class="card-title fs-6 font-weight-bold text-black text-decoration-none"
											href="/products/{{p.productId}}" style="min-height: 48px">{{p.productName
											}}</a>
										<div class="price-product row">
											<div class="col-6 d-flex flex-column" ng-if="p.sale">
												<span class="font-weight-bold text-danger">
													{{p.productDetails[0].prices[0].price*(1-p.discountPrice)|vnNumber}}
												</span>
												<span>
													<del>{{p.productDetails[0].prices[0].price|vnNumber}}</del>
												</span>

											</div>
											<div class="col-6 d-flex flex-column" ng-if="!p.sale">
												<span class="font-weight-bold text-danger">
													{{p.productDetails[0].prices[0].price|vnNumber}}
												</span>

											</div>
											<div class="col-6 d-flex align-items-center justify-content-center mb-3">
												<a href="/products/{{p.productId}}"
													class="btn-danger text-white font-weight-bold rounded p-2 my-auto">Thêm
													vào giỏ hàng</a>
											</div>
											<div class="position-absolute" style="top: 0; left: 0">
												<div>
													<span class="p-1 bg-danger text-white"
														ng-init="disPrice = p.discountedPrice" ng-if="p.sale">
														-{{p.discountPrice*100}}%
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

</div>