<header class="header shop" ng-controller="headerCtrl">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li class="hidehide"><i class="ti-headphone-alt"></i> 0911726601 </li>
                            <li><i class="ti-email"></i> artdevk18@gmail.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <li>
                                <i class="ti-location-pin"></i>
                                <a href="https://maps.app.goo.gl/npdKKMSeD48m2dAa8" target="_blank">Địa chỉ</a>
                            </li>
                            <li>
                                <i class="ti-alarm-clock"></i>
                                <a href="/product/flash-sale">Khuyến mãi</a>
                            </li>
                            <li ng-show="userLogin!=null">
                                <i class="ti-user"></i>
                                <a href="/account/profile">Tài khoản</a>
                            </li>
                            <li ng-show="userLogin!=null">
                                <i class="ti-power-off"></i>
                                <a href="/account/logout" logout-ctrl>Đăng xuất</a>
                            </li>
                            <li ng-show="userLogin==null">
                                <i class="ti-user"></i>
                                <a href="/account/login">Đăng nhập</a>
                            </li>
                            <li ng-show="userLogin==null">
                                <i class="ti-power-off"></i>
                                <a href="/account/register">Đăng ký</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12 d-md-flex justify-content-center align-items-center">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="../images/logo.png" alt="logo" width="120px"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-top">
                        <div class="top-search">
                            <a href="#0"><i class="ti-search"></i></a>
                        </div>
                        <!-- Search Form -->
                        <div class="search-top">
                            <form class="search-form">
                                <input type="text" placeholder="Search here..." name="search">
                                <button value="search" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    <!--/ End Search Form -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-8 col-md-7 col-12 d-md-flex justify-content-center align-items-center">
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form class="d-flex" ng-submit="submitSearch()">
                                <select class="custom-select" style="height: 50px;" ng-model="selectedCategory">
                                    <option class="option" value="" selected>Danh mục</option>
                                    <option ng-repeat="c in categories" class="option p-3" value="{{c.categoryId}}">
                                        {{c.categoryName}}
                                    </option>
                                </select>

                                <input name="search" placeholder="Nhập tên sản phẩm cần tìm....." type="search"
                                    ng-model="keyword">
                                <button class="btnn"><i class="ti-search" type="submit"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12 d-md-flex justify-content-center align-items-center">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar" data-toggle="tooltip" data-placement="top" title="Sản phẩm yêu thích">
                            <a href="#" class="single-icon">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="sinlge-bar shopping">
                            <a href="/account/profile" class="single-icon"><i class="fa fa-user-circle-o"
                                    aria-hidden="true"></i></a>
                            <!-- Shopping Item -->
                            <div class="shopping-item p-0" style="right: 40px; max-width: 250px; overflow-y: auto">
                                <ul class="list-group list-group-flush" ng-init="userlogin=true">
                                    <div ng-show="userLogin!=null">
                                        <li class="list-group-item">
                                            <a href="/account/profile">Thông tin tài khoản</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/account/purchase-order/3">Đơn mua</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/account/change-password">Đổi mật khẩu</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" logout-ctrl>Đăng xuất</a>
                                        </li>
                                    </div>
                                    <div ng-show="userLogin==null">
                                        <li class="list-group-item">
                                            <a href="/account/login">Đăng nhập</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/account/register">Đăng ký</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/account/forgot-password">Quên mật khẩu</a>
                                        </li>
                                    </div>

                                </ul>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon"><i class="ti-bag"></i>
                                <span class="total-count" ng-show="userLogin !=null">
                                    {{userLogin.carts.length}}
                                </span>
                            </a>
                            <!-- Shopping Item -->
                            <div class="shopping-item" ng-show="userLogin != null">
                                <div class="dropdown-cart-header">
                                    <span>{{userLogin.carts.length}} sản phẩm</span>
                                    <!-- <a href="/cart">Xem giỏ hàng</a> -->
                                </div>
                                <ul class="shopping-list" ng-show="userLogin.carts.length>0"
                                    ng-repeat="c in userLogin.carts">
                                    <li>
                                        <a class="cart-img" href="#">
                                            <img ng-src="../images/products/{{c.productDTO.images[0]}}"
                                                alt="{{c.productDTO.productName}}">
                                        </a>
                                        <h4 class="card-title card-title__cart" style="height: 20px !important;">
                                            <a
                                                href="/product/{{c.productDTO.productId}}">{{c.productDTO.productName}}</a>
                                        </h4>
                                        <p class="category" ng-repeat="pdt in c.productDTO.productDetails">
                                            <span ng-if="pdt.id == c.productDetailId" style="font-size: 14px;">
                                                {{pdt.size}} - {{pdt.color}}
                                            </span>
                                        </p>
                                        <p class="quantity" ng-repeat="pdt in c.productDTO.productDetails"
                                            ng-class="{'d-none':  pdt.id != c.productDetailId}">
                                            {{c.quantityInCart}} x -
                                            <span class="amount"
                                                ng-if="c.productDTO.sale && pdt.id == c.productDetailId">
                                                {{ getLatestPrice(pdt.prices).price -
                                                (getLatestPrice(pdt.prices).price *
                                                c.productDTO.discountPrice)
                                                | number:0 }}
                                                &#8363;
                                            </span>
                                            <span class="amount"
                                                ng-if="!c.productDTO.sale && pdt.id == c.productDetailId">
                                                {{getLatestPrice(pdt.prices).price|number:0}}
                                                &#8363;

                                            </span>
                                        </p>

                                        <a href="#" class="remove p-2 display-6" title="Xóa khỏi giỏ hàng"
                                            ng-click="removeToCart($event,c.cartId, $index)"><i
                                                class="fa fa-remove"></i></a>
                                    </li>
                                </ul>
                                <ul class="shopping-list d-flex align-items-center justify-content-center flex-column  my-3"
                                    ng-show="userLogin.carts.length==0">
                                    <i class="bi bi-cart-x display-4"></i>
                                    <span class="text-danger">Bạn chưa có sản phẩm trong giỏ hàng</span>
                                </ul>
                                <div class="bottom" ng-show="userLogin.carts.length>0">
                                    <div class="total">
                                        <span>Tổng tiền: </span>
                                        <span class="total-amount">
                                            {{ totalAmount | number: 0 }} &#8363;
                                        </span>
                                    </div>
                                    <a href="/cart" class="btn animate">Xem giỏ hàng</a>
                                </div>
                            </div>
                            <div class="shopping-item" ng-show="userLogin == null">
                                <div class="d-flex">
                                    <span class="text-danger mx-auto">
                                        Vui lòng <a href="/account/login"><u>đăng
                                                nhập</u></a>
                                    </span>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>DANH MỤC</h3>
                            <ul class="main-category">
                                <li ng-repeat="category in categories"
                                    class="d-flex align-items-center justify-content-between">
                                    <a href="/products?c={{ category.categoryId }}">{{ category.categoryName }}</a>
                                    <i class="bi bi-chevron-right text-dark mr-2 "></i>
                                    <ul class="sub-category">
                                        <li ng-repeat="brands in brands"><a
                                                href="/products?c={{category.categoryId }}&b={{brands.id}}">
                                                {{brands.manufacturerName}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li ng-class="{ active: isActive('/ArtDevs') }"><a href="/ArtDevs">TRANG
                                                    CHỦ</a></li>
                                            <li ng-class="{ active: isActive('/products') }"><a href="/products">SẢN
                                                    PHẨM</a></li>
                                            <!-- <li><a href="#">Service</a></li> -->
                                            <!-- <li><a href="#">Shop<i class="ti-angle-down"></i><span
                                                        class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/product">Shop Grid</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li> -->
                                            <li ng-class="{ active: isActive('/contact') }"><a href="/contact">LIÊN
                                                    HỆ</a></li>
                                            <li ng-class="{ active: isActive('/about-us') }"><a href="/about-us">GIỚI
                                                    THIỆU</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>