<div class="content-profile">
    <div class="title border border-right-0 border-top-0 border-left-0 py-2">
        <span class="display-6">Hồ sơ của tôi</span>
        <div class="zptdmA">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
    </div>
    <div class="information mt-3 pl-4">
        <form ng-submit="updateProfile()" id="formAccount">
            <div class="row">
                <div class="col-xs-12 col-md-8 p-2">
                    <div class="form-group row">
                        <label for="fullname" class="col-sm-3 col-form-label">Họ tên:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Họ tên" name="fullname" id="fullname"
                                value="{{userLogin.fullname}}" autocomplete="none" />
                            <small id="fullnameError" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label path="email" class="col-sm-3 col-form-label">Email: <br>
                            <small class="text-danger">(Không thể thay đổi)</small>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Email" name="email" id="email"
                                ng-model="userLogin.email" readonly disabled />
                            <small id="emailError" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-4 border border-bottom-0 border-top-0 border-right-0 px-2">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="XWsmVn col-12 d-flex  justify-content-center mb-2">
                                <div class="img" id="imageContainer"
                                    style="background-image: url('../../images/avatar/{{userLogin.image!=null?userLogin.image:'default-avatar.jpg'}}')">
                                </div>
                            </div>
                            <input type="file" accept=".jpg,.jpeg,.png" name="avatar" id="image"
                                style="display: none" /> <small id="imageError" class="text-danger"></small>
                            <button type="button" class="btn btnChoose p-2 col-12 mb-2" choose-image>Chọn
                                ảnh</button>
                            <div class="L4SAGB col-12 mb-2">
                                <div class="SlaeTm text-center text-muted">Dung lượng file
                                    tối đa 1 MB</div>
                                <div class="SlaeTm  text-center text-muted">Định dạng:
                                    .JPEG, .PNGm .JPG</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>