@charset "UTF-8";

.card-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
}

.lof-clock-detail {
	border-radius: 20px;
	font-weight: bold;
}

.view-all-collection {
	border-radius: 20px;
	padding: 8px;
}

.main-category {
	display: none;
}

.all-category:hover .main-category {
	display: block;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
	height: 45px;
	padding: 0 20px;
	color: #333;
	line-height: 45px;
	border-color: #ebebeb;
	box-shadow: none;
	background: #ebebeb;
	margin-bottom: 15px;
	width: 100%;
	outline: none;
	border: initial;
}

.btn-link-style {
	color: #F7941D !important;
}

.btn-link-style:hover {
	color: black !important;
}

.btn-forgotpass:hover {
	color: #F7941D !important;
}

.btn-style:hover {
	background-color: #F7941D !important;
}

.dots-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.dot {
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #b3d4fc;
	animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
	margin-right: 0;
}

.dot:nth-child(1) {
	animation-delay: -0.3s;
}

.dot:nth-child(2) {
	animation-delay: -0.1s;
}

.dot:nth-child(3) {
	animation-delay: 0.1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		background-color: #b3d4fc;
		box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}

	50% {
		transform: scale(1.2);
		background-color: #6793fb;
		box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
	}

	100% {
		transform: scale(0.8);
		background-color: #b3d4fc;
		box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}
}

.btn-type:hover {
	border-color: #F7941D !important;
	color: #F7941D;
}

.type-active {
	border-color: #F7941D !important;
	color: #F7941D !important;
}

.progress-bar-custom {
	width: 100%;
	background-color: #c2c2c0;
	height: 25px;
	border-radius: 5px;
}

.progress-custom {
	height: 100%;
	background-color: #f7c913;
	border-radius: 5px;
	position: relative !important;
}

.text-sold {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: inherit;
	width: inherit;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 3;
	text-shadow: 0 0 8px rgba(0, 0, 0, .12);
}

.sold-out {
	z-index: 9;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sold-out .content {
	display: flex;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .65);
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 1560px !important;
}

.card-title__cart {
	-webkit-line-clamp: 1;
}


.input-ranges[type='range'],
.input-ranges[type='range']::-webkit-slider-runnable-track,
.input-ranges[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: none;
}

.input-ranges[type='range']::-webkit-slider-runnable-track {
	width: 200px;
	height: 1px;
	background: var(--color-headline);
}

.input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
	background: none;
}

.input-ranges[type='range']::-webkit-slider-thumb {
	position: relative;
	height: 15px;
	width: 15px;
	margin-top: -7px;
	background: #2e2d2d;
	border: 1px solid var(--color-headline);
	border-radius: 25px;
	cursor: pointer;
	z-index: 1;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.input-ranges[type='range']::-webkit-slider-thumb:hover {
	background: #2e2d2d;
	border: 1px solid var(--color-primary);
	outline: .5px solid var(--color-primary);
}

.input-ranges[type='range']::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
	z-index: 2;
}