@charset "UTF-8";

.card-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
}

.lof-clock-detail {
	border-radius: 20px;
	font-weight: bold;
}

.view-all-collection {
	border-radius: 20px;
	padding: 8px;
}

.main-category {
	display: none;
}

.all-category:hover .main-category {
	display: block;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
	height: 45px;
	padding: 0 20px;
	color: #333;
	line-height: 45px;
	border-color: #ebebeb;
	box-shadow: none;
	background: #ebebeb;
	margin-bottom: 15px;
	width: 100%;
	outline: none;
	border: initial;
}

.btn-link-style {
	color: #F7941D !important;
}

.btn-link-style:hover {
	color: black !important;
}

.btn-forgotpass:hover {
	color: #F7941D !important;
}

.btn-style:hover {
	background-color: #F7941D !important;
}

.dots-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.dot {
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #b3d4fc;
	animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
	margin-right: 0;
}

.dot:nth-child(1) {
	animation-delay: -0.3s;
}

.dot:nth-child(2) {
	animation-delay: -0.1s;
}

.dot:nth-child(3) {
	animation-delay: 0.1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		background-color: #b3d4fc;
		box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}

	50% {
		transform: scale(1.2);
		background-color: #6793fb;
		box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
	}

	100% {
		transform: scale(0.8);
		background-color: #b3d4fc;
		box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
	}
}

.btn-type:hover {
	border-color: #F7941D !important;
	color: #F7941D;
}

.type-active {
	border-color: #F7941D !important;
	color: #F7941D !important;
}

.progress-bar-custom {
	width: 100%;
	background-color: #c2c2c0;
	height: 25px;
	border-radius: 5px;
}

.progress-custom {
	height: 100%;
	background-color: #f7c913;
	border-radius: 5px;
	position: relative !important;
}

.text-sold {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	height: inherit;
	width: inherit;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 3;
	text-shadow: 0 0 8px rgba(0, 0, 0, .12);
}

.sold-out {
	z-index: 9;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sold-out .content {
	display: flex;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .65);
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 1560px !important;
}

.card-title__cart {
	-webkit-line-clamp: 1;
}


.input-ranges[type='range'],
.input-ranges[type='range']::-webkit-slider-runnable-track,
.input-ranges[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: none;
}

.input-ranges[type='range']::-webkit-slider-runnable-track {
	width: 200px;
	height: 1px;
	background: var(--color-headline);
}

.input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
	background: none;
}

.input-ranges[type='range']::-webkit-slider-thumb {
	position: relative;
	height: 15px;
	width: 15px;
	margin-top: -7px;
	background: #2e2d2d;
	border: 1px solid var(--color-headline);
	border-radius: 25px;
	cursor: pointer;
	z-index: 1;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.input-ranges[type='range']::-webkit-slider-thumb:hover {
	background: #2e2d2d;
	border: 1px solid var(--color-primary);
	outline: .5px solid var(--color-primary);
}

.input-ranges[type='range']::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
	z-index: 2;
}

.pl {
	width: 6em;
	height: 6em;
  }
  
  .pl__ring {
	animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
	stroke: #f42f25;
  }
  
  .pl__ring--b {
	animation-name: ringB;
	stroke: #f49725;
  }
  
  .pl__ring--c {
	animation-name: ringC;
	stroke: #255ff4;
  }
  
  .pl__ring--d {
	animation-name: ringD;
	stroke: #f42582;
  }
  
  /* Animations */
  @keyframes ringA {
	from, 4% {
	  stroke-dasharray: 0 660;
	  stroke-width: 20;
	  stroke-dashoffset: -330;
	}
  
	12% {
	  stroke-dasharray: 60 600;
	  stroke-width: 30;
	  stroke-dashoffset: -335;
	}
  
	32% {
	  stroke-dasharray: 60 600;
	  stroke-width: 30;
	  stroke-dashoffset: -595;
	}
  
	40%, 54% {
	  stroke-dasharray: 0 660;
	  stroke-width: 20;
	  stroke-dashoffset: -660;
	}
  
	62% {
	  stroke-dasharray: 60 600;
	  stroke-width: 30;
	  stroke-dashoffset: -665;
	}
  
	82% {
	  stroke-dasharray: 60 600;
	  stroke-width: 30;
	  stroke-dashoffset: -925;
	}
  
	90%, to {
	  stroke-dasharray: 0 660;
	  stroke-width: 20;
	  stroke-dashoffset: -990;
	}
  }
  
  @keyframes ringB {
	from, 12% {
	  stroke-dasharray: 0 220;
	  stroke-width: 20;
	  stroke-dashoffset: -110;
	}
  
	20% {
	  stroke-dasharray: 20 200;
	  stroke-width: 30;
	  stroke-dashoffset: -115;
	}
  
	40% {
	  stroke-dasharray: 20 200;
	  stroke-width: 30;
	  stroke-dashoffset: -195;
	}
  
	48%, 62% {
	  stroke-dasharray: 0 220;
	  stroke-width: 20;
	  stroke-dashoffset: -220;
	}
  
	70% {
	  stroke-dasharray: 20 200;
	  stroke-width: 30;
	  stroke-dashoffset: -225;
	}
  
	90% {
	  stroke-dasharray: 20 200;
	  stroke-width: 30;
	  stroke-dashoffset: -305;
	}
  
	98%, to {
	  stroke-dasharray: 0 220;
	  stroke-width: 20;
	  stroke-dashoffset: -330;
	}
  }
  
  @keyframes ringC {
	from {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: 0;
	}
  
	8% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -5;
	}
  
	28% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -175;
	}
  
	36%, 58% {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: -220;
	}
  
	66% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -225;
	}
  
	86% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -395;
	}
  
	94%, to {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: -440;
	}
  }
  
  @keyframes ringD {
	from, 8% {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: 0;
	}
  
	16% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -5;
	}
  
	36% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -175;
	}
  
	44%, 50% {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: -220;
	}
  
	58% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -225;
	}
  
	78% {
	  stroke-dasharray: 40 400;
	  stroke-width: 30;
	  stroke-dashoffset: -395;
	}
  
	86%, to {
	  stroke-dasharray: 0 440;
	  stroke-width: 20;
	  stroke-dashoffset: -440;
	}
  }

.btnshowhidden{
	transition: all 0.3s ease-in-out;
}

.btnshowhidden:hover{
	background-color: #5d2f44;
}


.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 16px 36px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: inherit;
	border-radius: 100px;
	font-weight: 600;
	color: rgb(151, 156, 182);
	box-shadow: 0 0 0 2px rgb(151, 156, 182);
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
	position: absolute;
	width: 24px;
	fill: rgb(151, 156, 182);
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
	right: 16px;
  }
  
  .animated-button .arr-2 {
	left: -25%;
  }
  
  .animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: rgb(151, 156, 182);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #212121;
	border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
	right: -25%;
  }
  
  .animated-button:hover .arr-2 {
	left: 16px;
  }
  
  .animated-button:hover .text {
	transform: translateX(12px);
  }
  
  .animated-button:hover svg {
	fill: #212121;
  }
  
  .animated-button:active {
	scale: 0.95;
	box-shadow: 0 0 0 4px rgb(151, 156, 182);
  }
  
  .animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
  }
  